.body{
	font-family:"Open Sans", "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Helvetica, Arial, Tahoma, sans-serif;	
/* 	font-size:0.9em; */
	font-size: 12px;
	margin:1em;
}

.collapsible:after {
  content: '\02795'; /* Unicode character for "plus" sign (+) */
  font-size: 13px;
  color: white;
  float: right;
  margin-left: 5px;
}

.active:after {
  content: "\2796"; /* Unicode character for "minus" sign (-) */
}
.collapsible_content {
  display: none;
  overflow: hidden;
}


.pub-section{
	margin-left: 0;
}

.publication .author{
/* 
	font-weight:bold;
 */
}

.publication .title{
	font-weight:bold;	
	font-size:14px;
}

.publication .venue{
	font-style:italic;
}

.publication{
	margin-left: 0;
}

.publication li {
	line-height:18px;
	margin-bottom: 14px;
	margin-left:-40px;
	font-size:13px;
	list-style-type:none;
}

.publication .link a{
  color: 001111;
  text-decoration:none;
  font-size:11px;
}

.publication .link a:hover
{
  text-decoration:underline;
  font-size:11px;
}


.award{
  background-color: crimson;
  color: #eee;
  padding-left: 0.5em;
  padding-right: 0.5em;
}


.news{
	margin-left: 0;
}

.news li {
	line-height:18px;
	margin-bottom: 14px;
	margin-left:-40px;
	font-size:13px;
	list-style-type:disc;
}

.news .link a{
  color: 001111;
  text-decoration:none;
  font-size:11px;
}

.publication .link a:hover
{
  text-decoration:underline;
  font-size:11px;
}


.projects p{
  font-size:13px;
  line-height:20px;
}

.p-intro{
  font-size:12px;
  font-weight:bold;
}

.p-author{
  font-size:12px;
}

.project-publication a{
  color: 3399FF;
}

.project-publication a:hover{
  color: 3399FF;
  background-color: F0F0F0;

}

.contacts{
  font-size:12px;
  line-height:20px;
}


.intro{
  font-size:14px;
  line-height:23px;
}
